/** OphNuPreoperative module styles */
/* line 17, ../sass/components/_event.scss */
.event {
  border-color: #aaaaaa;
}
/* line 19, ../sass/components/_event.scss */
.event .event-content {
  background-image: url('../img/watermark.png?1400240772');
}
/* line 22, ../sass/components/_event.scss */
.event .event-title {
  background-image: url('../img/medium.png?1400240772');
}

/* line 27, ../sass/components/_event.scss */
.metric {
  display: inline;
  font-size: 0.8125em;
}

/* line 32, ../sass/components/_event.scss */
.smallPreopInput {
  display: inline !important;
  width: 5em !important;
}

/* line 38, ../sass/components/_event.scss */
#div_Element_OphNuPreoperative_BaselineObservations_bp_systolic input {
  display: inline;
}

/* line 43, ../sass/components/_event.scss */
#Element_OphNuPreoperative_BaselineObservations_bp_systolic {
  width: 4em;
}

/* line 47, ../sass/components/_event.scss */
#Element_OphNuPreoperative_BaselineObservations_bp_diastolic {
  width: 3em;
}

/* line 51, ../sass/components/_event.scss */
#Element_OphNuPreoperative_BaselineObservations_bloodsugar_na {
  width: 1em !important;
}

/* line 55, ../sass/components/_event.scss */
#Element_OphNuPreoperative_BaselineObservations_rate {
  width: 5em;
  display: inline;
}

/* line 61, ../sass/components/_event.scss */
.addRecordItemDiv label {
  width: 10em;
  margin-top: 5px;
}
/* line 65, ../sass/components/_event.scss */
.addRecordItemDiv input.recordInput {
  width: 5em;
}
/* line 68, ../sass/components/_event.scss */
.addRecordItemDiv .large-2 {
  display: inline-block !important;
  margin-left: -2.2em;
  margin-top: 3px;
}
/* line 73, ../sass/components/_event.scss */
.addRecordItemDiv .recordTimestamp {
  width: 6.4em;
  display: inline-block;
}
/* line 77, ../sass/components/_event.scss */
.addRecordItemDiv .recordTime {
  width: 5em;
  display: inline-block !important;
}
/* line 81, ../sass/components/_event.scss */
.addRecordItemDiv .recordDateLabel {
  width: 6.8em;
}
/* line 84, ../sass/components/_event.scss */
.addRecordItemDiv .recordsUseLastItemDiv {
  width: 35%;
  margin: 0 auto;
}
